body {
	width: 1200px;
	max-width: 100%
}
.container {
	width: 1200px;
	max-width: 100%;
	padding-left: 50px;
	margin: 0px;
}
.navbar {
	display: flex;
}
.navbar-li {
	padding-left: 53px;
	color: #707070;
	font-size: 20px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	height: 147px;
	width: 1200px;
	max-width: 100%;
	background-color: #FFFFFF;
}
.main-pic {
	width: 1200px;
	max-width: 100%;
	padding-top: 207px;
}
.box-pic {
	width: 300px;
}
.first-title {
	font-size: 40px;
	color: #707070;
	padding: 140px 0px 70px;
}
h3 {
	font-size: 30px;
	color: #707070;
	padding: 20px 0px 35px 12px;
}
.box-text {
	font-size: 18px;
	color: #707070;
	padding: 15px 0px 73px 12px;
}
.box {
	width: 300px;
	height: 500px;
	max-width: 100%;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.more {
	font-size: 24px;
	color: #707070;
	float: right;
}
.load {
	font-size: 30px;
	color: #707070;
	padding: 44px 0px 0px 500px;
}
footer {
	width: 1200px;
	max-width: 100%;
	background-color: #2E2E2E;
	padding: 55px 40px 55px 50px;
	margin: 0px;
}
.footer-contact h5 {
	font-size: 20px;
	color: white;
}
.footer-contact p {
	font-size: 13px;
	color: white;
	padding-top: 10px;
}
.insta {
	padding-left: 20px;
}
@media (max-width: 320px) {
	body {
		width: 320px;
		height: 2200px;
	}
	.navbar {
		display: none;
	}
	.flex {
		justify-content: center;
	}
	.box {
		width: 246px;
		height: 285px;

	}
	.logo2 {
		display: none;
	}
}
